<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h4>비밀번호 찾기</h4>
    <form action="Verify Email">    

        <input type="text" name="Email" value="" placeholder="이메일을 입력해주세요" style="width: 8cm"><br>


    </form>


<span> <button href="http://127.0.0.1:8000/users/verify/{{secret}}">이메일로 찾기</button></span> 
</body>
</html>

